@import '../bootstrap-5.3.2/scss/bootstrap.scss';

// Dark mode

$color-mode-type: data;

@include color-mode(dark) {
  .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
  }
}

// Estilos generales

.glosary-nav {
    .nav-link {
        display: inline-block;
        border: 1px solid $black;
        height: 50px;
        width: 60px;
        line-height: 50px;
        padding: 0;
        text-align: center;
        margin-bottom: $spacer;
        text-transform: uppercase;
    }
}
.glosary-content {
    h2 {
        text-transform: uppercase;
    }
    .glosary-item {
    }
}
.dropdown-dark-theme {
    position: relative;
}
.glosary-menu-dark-theme {
    position: absolute !important;
}