// Importación de fuentes
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Importación de Bootstrap
@import '../bootstrap-5.3.2/scss/bootstrap.scss';

// Dark mode
$color-mode-type: data;

@include color-mode(dark) {
  .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
  }
}

// Estilos generales
html {
    scroll-padding-top: 4rem;
}
body {
    font-style: normal;
}
.border {
    border-bottom-width: 4px !important;
}
.navbar-brand {
    font-size: 32px;
}
.glosary-nav {
    .nav-link {
        display: inline-block;
        //border: 1px solid $black;
        height: 50px;
        width: 60px;
        line-height: 50px;
        padding: 0;
        text-align: center;
        margin-bottom: $spacer;
        text-transform: uppercase;
        font-family: $headings-font-family;
        font-size: 24px;
    }
}
.glosary-content {
    h2 {
        text-transform: uppercase;
        //padding-block-start: 50px;
    }
    .glosary-item {
    }
}
.dropdown-dark-theme {
    position: relative;
}
.glosary-menu-dark-theme {
    position: absolute !important;
}